<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Simple Forum{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/simple-forum-base.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Simple Forum</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="account">{{ user.username }}</a></li>
      <li><a href="">Create Topic</a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
</header>

<main class="container">
{% block main %}
  
{% endblock %}
</main>

<footer class="footer">
<div class="container">
  <span id="powered-by">Powered by <a href="https://www.djangoproject.com/">Django</a>.</span>
</div>
</footer>
</body>
</html>


